* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montaga', serif;
}

body {
	background: 
		linear-gradient(
			rgb(6, 147, 212, 0.6),
			rgb(232, 193, 35, 0.4)
		),
		url(../images/win.jpeg)
	;

	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
 
.navigation {
	background: rgb(120, 28, 28);
	display: inline-block;
	padding: 0.5em 0.5em 0.5em 0.15em;
	width: 100%;
	align-items: center;
}

.navigation li {
	display: inline-block;
	font-size: 1.4em;
}

.navigation a {
	list-style: none;
	text-decoration: none;
}

.title img {
	margin-left: 1%;
	width: 9.5em;
	height: auto;
}

.menu {
	float: right;
	margin-top: 0.3em;
}

.menubutton {
	font-size: 0.7em;
	color: rgb(120, 28, 28);
	background: rgba(199, 176, 149, 0.8);
	border-radius: 5px;
	padding: 0.2em 1.5em 0.2em 1.5em;
}

.menubutton:hover {
	color: rgb(199, 176, 149);
	background: rgb(120, 28, 28);
}

.menulinks {
	display: none;
	position: absolute;
	z-index: 1;
	color: rgb(199, 176, 149);
	background: rgba(120, 28, 28, 0.8);
}

.menulinks a {
	display: block;
	font-size: 0.7em;
	color: rgb(199, 176, 149);
	background: rgba(120, 28, 28, 0.8);
	padding: 1em 0.5em 1em 0.5em;
	text-align: center;
}

.menu:hover .menulinks {
	display: block;
}

.menulinks a:hover {
	color: rgb(120, 28, 28);
	background: rgb(199, 176, 149);
	border-radius: 5px;
	transform: scale(0.8);
}

/*Landing Page*/

.landingtext {
	text-align: center;
	color:  rgb(32, 36, 33);
	padding: 4em;
	letter-spacing: 0.2em;
	font-weight: bold;
}

.landingbox {
	padding: 1em;
	border-radius: 5px;
	background:	rgba(199, 176, 149, 0.9);
}

.landingbox h1 {
	font-size: 9em;
}

.landingbox img {
	width: 80%;
	height: auto;
	display: block;
	text-align: center;
	margin: 0.5em auto 1em auto;
	border-radius: 5px;
	border: 2px solid rgb(32, 36, 33);
}

.landingtext h3 {
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

.landingtext p {
	font-size: 1em;
	margin: 0.5em;
}

.box a {
	text-decoration: none;
}

.box {
	background: rgba(120, 28, 28, 0.95);
	border-radius: 5%;
	width: 90%;
	margin: 2em auto 0 auto;
	height: auto;
	padding: .25em;
	text-align: center;
	letter-spacing: 0.1em;
}

.box:hover {
	background: rgb(8, 63, 82);
}

.options img {
	width: 100%;
	height: auto;
	border-radius: 5%;
}

.box p,
.clicker .num {
	font-size: 1em;
	color: rgb(199, 176, 149);
	padding: 0.4em;
	text-align: center;
}

.clicker .num {
	margin-bottom: 1em;
}

.learnmore::before {
	content: " ";
	clear: both;
}

.learnmore {
	padding-top: 3em;
	padding-bottom: 3em;
	clear: both;
	text-align: center;
}

.learnmore a {
	text-decoration: none;
	color: rgb(199, 176, 149);
	background: rgb(8, 63, 82);
	padding: .5em;
	border-radius: 5px;
}

.learnmore a:hover {
	background: rgb(120, 28, 28);
}

/*Contact Page - main content*/

.clicker {
	background: rgb(32, 36, 33);
	padding: 1.5em 0 1.5em 0;
	clear: both;
	margin-top: 1.5em;
}

.clicker h1 {
	font-size: 6em;
	color: rgba(199, 176, 149, 0.5);
	display: block;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.clicker i {
	font-size: 2em;
	margin: 1em;
	text-decoration: none;
	color: rgba(199, 176, 149, 0.5);
}

.clicker i:hover {
	transform: scale(0.8);
}

.form {
	display: block;
	text-align: center;
	border: 2px solid rgb(8, 63, 82);
	border-radius: 5px;
	letter-spacing: 0.2em;
	color: rgb(199, 176, 149);
	background: rgba(8, 63, 82, 0.9);
	font-weight: bold;
}

.contact {
	padding: 5% 10% 5% 10%;
}

.withmap h5, .withmap h4 {
	text-align: center;
	background: rgb(8, 63, 82);
	color: rgb(199, 176, 149);
	padding: 0.5em;
	border-radius: 5px;
	margin-bottom: 0.3em;
}

.withmap h4 {
	margin-right: 10vw;
	margin-left: 10vw;

}

.form label {
	margin-top: 2em;
	margin-bottom: 0.3em;
	display: block;
}

.form input {
	margin-top: 1em;
	display: block;
	margin: auto;
	border-radius: 5px;
	padding: 0.5em;
	height: 2.5em;
	width: 18em;
}

.form textarea {
	display: block;
	margin: auto;
	border-radius: 5px;
	padding: 2%;
}

.form .submit {
	color: rgb(199, 176, 149);
	padding: 0.5em 1em 0.5em 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 2px solid rgb(8, 63, 82);
	border-radius: 5px;
	font-weight: bold;
	background: rgba(8, 63, 82, 0.8);
}

.submit:hover {
	background: rgb(120, 28, 28);
	border: none;
}

.map {
	text-align: center;
	margin: 0 0 1em 0;
}

.embed {
	width: 80vw;
	height: 40vh;
}

/*About Page*/

.about {
	color: rgb(8, 63, 82);	
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: bold;
}

.mission, .vision, .privacy, .terms {
	background: rgba(199, 176, 149, 0.85);
	margin: 5vw;
	padding: 2vw;
	border-radius: 5px;
}

.privacy, .terms {
	text-align: center;
	padding: 3em;
	clear: both;

}

.privacy a, .terms a {
	text-decoration: none;
	display: block;
	background: rgb(8, 63, 82);
	color: rgb(199, 176, 149);
	margin: 1em auto 0 auto;
	width: 30vw;
	padding: 0.5em;
	border-radius: 5px;

}

.privacy a:hover, .terms a:hover {
	color: rgb(199, 176, 149);
	background: rgb(120, 28, 28);
}

.us {
	color: rgb(199, 176, 149);
	background: rgba(8, 63, 82, 0.9);
	margin: 3vw;
	padding: 5vw;
	border-radius: 5px;
}

.us h4, .us h2 {
	margin-top: 1em;
}

.us h2, .us img {
	display: block;
	text-align: center;
	margin: 0.5em auto 1em auto;
}

.us img {
	width: 80%;
	height: auto;
}

/*Homepage*/

.vid {
	display: block;
	margin: 0 auto 1em auto;
	text-align: center;
	clear: both;
	}

.vid iframe {
	width: 300px;
	height: 169px;
	clear: both;
}

#homeimg {
	background: none;
	border-radius: 5px;
}

/*Products*/

.gallery {
	margin: 2em;
	text-align: center;
	color: rgb(199, 176, 149);
	background: rgba(8, 63, 82, 0.75);
	clear: both;
}

.gallery h3 {
	padding: 1em;
	background: rgb(8, 63, 82);
}

.gallery img {
	width: 40vw;
	padding: 1em;
	border-radius: 5px;
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.gallery img:hover {
  	animation: shake 0.5s;
  	animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.products {
	margin-bottom: 1em;
	margin-top: 1em;
}

.products img {
	width: 80vw;
	display: block;
	margin: auto;
	padding: 1em;
	border-radius: 50%;
	background: rgba(130, 28, 28, 0.8);
}

.dry, .splash, .con, .mix {
	margin: 5vw;
	padding: 1em;
	color: rgb(199, 176, 149);
	background: rgba(8, 63, 82, 0.9);
	border-radius: 5px;
}

.desc p {
	margin-top: 1em;
}

.desc h4 {
	margin-top: 0.5em;
	font-size: 1.5em;
	font-weight: bolder;
	text-align: center;	
}

.foot {
	color: rgba(199, 176, 149, 0.8);
}


.footmap {
	text-align: center;
	padding: 0 2em 2em 2em;
}

#wide {
	display: none;
}

.number {
	padding: 0 2em 2em 2em;
	text-align: center;
}

h1 {
	text-align: center;
	margin-bottom: 0.2em;
}

footer {
	color: rgb(199, 176, 149);
	background: rgb(120, 28, 28);
	text-align: center;
	padding: 0.5em 2em 0.5em 2em;
	clear: both;
}

footer p {
	font-size: 1em;
	margin-top: 0.5em;
}

footer a {
	color: rgb(199, 176, 149);
}

footer a:hover {
	text-decoration: none;
}



@media only screen and (min-width: 401px) and (max-width: 960px) {
	
	/*nav*/
	.navigation {
		padding-left: 1em;
		padding-right: 1em;
	}

	.navigation li {
		display: block;
	}

	.menu {
		float: none;
	}

	.menubutton {
		display: none;
	}

	.menulinks {
		display: block;
		text-align: center;
		z-index: 1;
		color: rgb(199, 176, 149);
		background: rgba(120, 28, 28, 0.8);
		width: 100%;
		position: relative;
		border-top: 1px dashed rgb(199, 176, 149);

	}

	.menulinks a {
		display: inline-block;
		color: rgb(199, 176, 149);
		background: rgba(120, 28, 28, 0.8);
	}

	/*nav*/

	.landingbox img, .us img {
		width: 50%;
	}

	.vid iframe {
		width: 390px;
		height: 220px;
	}

	.form textarea {
		width: 75%;
	}

	.options {
		width: 100%;
		margin: auto;
	}

	.box {
		width: 45%;
		float: left;
		margin: 0 2.5% 2.5% 2.5%;
	}

	.learnmore{
		text-align: center;
		clear: both;
	}

	.contact {
		padding-right: 15%;
		padding-left: 15%;
	}

	.gallery img {
		width: 30vw;
	}

	.products img {
		width: 60vw;
	}

	.dry, .splash, .con, .mix {
		margin: 13vw;
	}
}

@media only screen and (min-width: 961px) {
	
	/*nav*/
	.navigation {
		padding: 0.2em 2em 0 1em;
	}

	.title img {
		width: 10.5em;
	}

	.menu {
		float: right;
		margin-top: 0;
	}

	.menubutton {
		display: none;
	}

	.menulinks {
		display: block;
		text-align: center;
		z-index: 1;
		color: rgb(199, 176, 149);
		background: rgb(120, 28, 28);
		width: 100%;
		position: relative;

	}

	.menulinks a {
		display: inline-block;
		color: rgb(199, 176, 149);
		background: rgba(120, 28, 28, 0.8);
		margin-left: 0.5em;
	}

	/*about*/
	.landingbox img, .us img {
		width: 30%;
	}

	.about {
		text-align: left;
	}

	.about-1 {
		display: grid;
		grid-template-columns: auto auto;
	}

	.mission {
		grid-column: 1/2;
	}

	/*about*/
	.vid iframe {
		width: 900px;
		height: 507px;
		clear: both;
	}


	.form textarea {
		width: 75%;
	}

	.options {
		width: 960px;
		margin: auto;
	}

	.box {
		width: 30%;
		float: left;
		margin: 1em;
	}

	#lastbox {
		float: none;
		display: block;
		margin: auto;
		clear: both;

	}

	.learnmore{
		text-align: center;
		clear: both;
	}

	.contact {
		padding-right: 20%;
		padding-left: 20%;
	}

	.gallery img {
		width: 20vw;
	}

	.products img {
		width: 30vw;
	}

	.dry, .splash, .mix {
		width: 40vw;
		height: auto;
		display: inline-block;
		float: left;
	}

	 .con {
	 	width: 40vw;
		height: auto;
		clear: both;
		display: inline-block;
		float: left;
	}

	.foot {
		display: grid;
		grid-template-columns: auto auto;
	}

	#wide {
		display: inline-block;
	}

	#mobi {
		display: none;
	}


	.footmap {
		grid-column: 1/2;
		text-align: left;
		padding: 2em;
	}
}

@media only screen and (min-height: 1100px) {
	#ipadpro {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

